.container-custom {
  width: 100%;
  margin: auto;
}

.btn-title {
  cursor: default !important;
}

.btn-title:hover {
  background-color: transparent !important;
  color: red !important;
}

@media (min-width: 768px) {
  .container-custom {
    width: 93%;
  }
}
