* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #eb0000;
}

body {
  background-color: black;
}

header {
  position: relative;
}

.red {
  background-color: var(--red);
}
